# Ignore Docker Compose configuration files
docker-compose.yaml
docker-compose-dev.yaml

# Ignore development Dockerfile
Dockerfile
Dockerfile.dev
docker-dev.sh

# Ignore the data directory
data/

# Ignore version control system directories
.git/
**/.git

# Ignore log and temporary files
*.log
*.tmp
*.swp

# Ignore editor/IDE configuration files
.vscode/
.idea/

# Ignore binaries and build cache
release/
webclient-v1/build/
**/node_modules/
bin/
*.exe
*.out
